<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Stratos Shield</title>

        <link rel="stylesheet" href="./libs/pico.min.css" />
        <link rel="stylesheet" href="./libs/fa.min.css" />

        <script src="./libs/fa.min.js"></script>
        <link rel="stylesheet" href="./libs/pico.min.css" />
    </head>
    <body>
        <header class="is-fixed-above-lg">
            <div class="container">
                <nav>
                    <ul></ul>
                    <ul style="font-size: 30px">
                        <i class="fa-solid fa-shield-halved"></i>
                        <li><strong>Stratos Shield</strong></li>
                    </ul>
                    <ul></ul>
                </nav>
            </div>
            <hr />
        </header>
        <main>
            <section class="container">
                <article>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="example@email.com" />

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />

                    <footer class="grid">
                        <a href="home/" class="grid">
                            <button class="secondary" id="submit">Login</button>
                        </a>
                    </footer>
                </article>
            </section>
        </main>
    </body>
</html>
